<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Domain</title>
    <script src="https://kit.fontawesome.com/6a45bb976b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'domain/cv.css' %}">
</head>
<body>
  <div class="bar">
    <div class="logo"> 
      <a href="{% url 'domain:index' %}">A.</a>
    </div>
    <ul class="menu">
      <div id="drop_down"><i id="exp" class="fas fa-align-justify"></i>
        <div class="drop_down_menu">
          <div id="about_drop"><a href="{% url 'domain:about' %}">About Me</a></div>
          <div id="cv_drop"><a class="active" href="{% url 'domain:cv' %}">Curriculum Vitae</a></div>
          <div id="blog_drop"><a href="{% url 'domain:blog' %}">My Thoughts</a></div>
          <div id="diss_drop"><a href="{% url 'domain:dissertation' %}">Dissertation</a></div>
          <div id="contact_drop"><a href="{% url 'domain:contact' %}">Contact</a></div>
        </div>
      </div>
      <li id="about"><a href="{% url 'domain:about' %}">About Me</a></li>
      <li id="cv"><a class="active" href="{% url 'domain:cv' %}">Curriculum Vitae</a></li>
      <li id="blog"><a href="{% url 'domain:blog' %}">My Thoughts</a></li>
      <li id="diss"><a href="{% url 'domain:dissertation' %}">Dissertation</a></li>
      <li id="contact"><a href="{% url 'domain:contact' %}">Contact</a></li>
    </ul>
  </div>
  <div id="cv_image" class="container-fluid">
    <img id="img_background" src="{% static 'domain/images/cv.jpg' %}" alt="background_img">
    <div class="upper_name">Austin Attaway</div>
    <div class="lower_name">An Interactive CV</div>
    <div class="arrow_wrapper"><i class="fas fa-angle-down" style="font-size: 50px; color: whitesmoke"></i></div>
  </div>
  <div id="content_wrapper">
    <div id="profile" class="container-fluid">     
      <div class="box_nav">
        <div class="nav_profile">Bio</div>
        <div class="nav_experience">Background</div>
        <div class="nav_skills">Abilities</div>
        <div class="nav_Research">Projects</div>
      </div>
      <div class="container" id="profile_name">Austin Charles Attaway</div>
      <div class="container" id="profile_title">CEO and Organizational Psychologist</div>
      <div class="container" id="profile_img"></div>
      <div class="container" id="profile_tag">Effective Leadership for the 21<sup>st</sup> Century</div>
    </div>
    <div id="Experience" class="container-fluid">
      <div class="container" id="exp_back">Background</div>
      <div class="container" id="exp_edu_quote">“Experience is the best teacher” – Unknown</div>
      <hr style=" width: 50%; margin-left: 25%; background-color:#ddd6d6;">
      <div class="row">
          <div class="col-3"></div>
          <div class="col-3" id="edu_header">Education</div>
          <div class="col-3"></div>
      </div>
      <div class="row" style="margin-top: 3vh;">
        <div class="col-3"></div>
          <div class="col-2" style="font-weight: bold; font-size: 18px;"><p>Claremont Graduate University</p><p style="font-weight: normal; font-size: 14px; margin-top: -10px;">Sep. 2019 - Present</p></div>
          <div class="col-4">
            <p style="font-weight: bold;">Masters of Arts - Industrial and Organizational Psychology</p><p>Industrial-organizational psychology (also called I/O psychology) is characterized by the scientific 
              study of human behavior in organizations and the work place. My work is primarily focused on how employee perception of their organization shapes their performance outcomes. Additionally, how
              organizational outcomes can be improved by a better preception of equity.</p><a id="link" target="_blank" rel="noopener noreferrer" href="https://www.cgu.edu/academics/program/organizational-behavior/">
                <i style="font-size: 14px;" class="fas fa-map-marker-alt"></i>   Claremont, CA</a>
          </div>
      </div>
      <div class="row" style="margin-top: 3vh;">
        <div class="col-3"></div>
        <div class="col-2" style="font-weight: bold; font-size: 18px;"><p>University of California, Riverside</p><p style="font-weight: normal; font-size: 14px; margin-top: -10px;">Sep. 2017 - Jun. 2019</p></div>
        <div class="col-4">
          <p style="font-weight: bold;">Bachelor's of Arts - Psychology</p><p>As president of UCR’s psychology honor’s society Psi Chi, I increased student involvement by over 50% and expanded our community outreach. 
          I was also involved in <a id="link" target="_blank" rel="noopener noreferrer" href="https://www.researchgate.net/profile/Carolyn_Murray">Professor Carolyn Murray’s</a> lab and presented at a conference.</p>
          <a id="link" target="_blank" rel="noopener noreferrer" href="https://psychology.ucr.edu/"><i style="font-size: 14px;" class="fas fa-map-marker-alt"></i>   Riverside, CA</a>
        </div>
      </div>
      <div class="row" style="margin-top: 3vh;">
        <div class="col-3"></div>
        <div class="col-2" style="font-weight: bold; font-size: 18px;"><p>Riverside City College</p><p style="font-weight: normal; font-size: 14px; margin-top: -10px;">Sep. 2014 - Jun. 2016</p></div>
        <div class="col-4">
          <p style="font-weight: bold;">Associates's Degree - Behavioral Science/Associates's Degree - Communication & Media Studies</p><p>I graduated from RCC with two associates degrees, while here I enjoyed my courses in
          in behavioral science, psychology. I realized I wanted to do research, and so I took courses in statisitcs and research methods to expand my knowledge of the subject.</p>
          <a id="link" target="_blank" rel="noopener noreferrer" href="https://www.rcc.edu/"><i style="font-size: 14px;" class="fas fa-map-marker-alt"></i>   Riverside, CA</a>
        </div>
      </div>
      <hr style=" width: 50%; margin-left: 25%; background-color:#ddd6d6;">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3" id="edu_header">Relevant Experience</div>
        <div class="col-3"></div>
      </div>
      <div class="row" style="margin-top: 3vh;">
        <div class="col-3"></div>
          <div class="col-2" style="font-weight: bold; font-size: 18px;"><p>Life Source</p><p style="font-weight: normal; font-size: 14px; margin-top: -10px;">Jun. 2019 - Present</p></div>
          <div class="col-4">
            <p style="font-weight: bold;">Chief Executive Officer</p><p>As CEO, I transitioned the non-profit towards a more effective online business management system and expanded team by over 50%.
              I overseen a year over year growth over 30% in the total number of billable hours, and has secured over $20 thousand in non-profit grands. Additionally, I effectively handeled the work from
              hom transition caused by COVID.
            </p><a id="link" target="_blank" rel="noopener noreferrer" href="https://www.affordablecounselingservices.org/"><i style="font-size: 14px;" class="fas fa-map-marker-alt"></i>   Riverside, CA</a>
          </div>
      </div>
      <div class="row" style="margin-top: 3vh;">
        <div class="col-3"></div>
          <div class="col-2" style="font-weight: bold; font-size: 18px;"><p>City of Riverside, Mayor's Office</p><p style="font-weight: normal; font-size: 14px; margin-top: -10px;">Feb. 2019 - Sep. 2019</p></div>
          <div class="col-4">
            <p style="font-weight: bold;">Administrative Intern</p><p>During my internship I learn effective management and leadership techniques from Riverside's <a id="link" target="_blank" rel="noopener noreferrer"
               href="https://en.wikipedia.org/wiki/Rusty_Bailey">Mayor Rusty Bailey</a>. I connected with local business to figure our their needs and help them grow in Riverside.</p>
               <a id="link" target="_blank" rel="noopener noreferrer" href="https://www.riversideca.gov/mayor/"><i style="font-size: 14px;" class="fas fa-map-marker-alt"></i>   Riverside, CA</a>
          </div>
      </div>
    </div>
    <div id="Skills" class="container-fluid">
      <div class="container" id="skill_back">Abilities</div>
      <div class="container" id="skill_quote">“Skill and confidence are an unconquered army” – George Herbert</div>
      <hr style=" width: 50%; margin-left: 25%; background-color:#3b3b3b;">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">
          <div class="card" style="background-color: #f1f1f1; border: none;">
            <div class="card-block">
              <p style="text-align: center; margin-top: 30px;"><i style="font-size: 50px; color: #2a3a4d;" class="fas fa-sitemap"></i></p>
              <p style="text-align: center; color: black; font-weight: bold">Business Direction</p>
              <p style="text-align: center; color: black;">Mission assessment and evaluation, company vision, skills workshops, future oriented apporach</p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="card" style="background-color: #f1f1f1; border: none;">
            <div class="card-block">
              <p style="text-align: center; margin-top: 30px;"><i style="font-size: 50px; color: #2a3a4d;" class="far fa-chart-bar"></i></p>
              <p style="text-align: center; color: black; font-weight: bold">Evaluation Metrics</p>
              <p style="text-align: center; color: black;">Systems based apporaches, data driven, core competencies, psychometrics</p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="card" style="background-color: #f1f1f1; border: none;">
            <div class="card-block">
              <p style="text-align: center; margin-top: 30px;"><i style="font-size: 50px; color: #2a3a4d;" class="fas fa-users"></i></p>
              <p style="text-align: center; color: black; font-weight: bold">Leadership</p>
              <p style="text-align: center; color: black;">Dependable, effective feedback, goal oriented, decisive decision making</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">
          <div class="card" style="background-color: #f1f1f1; border: none;">
            <div class="card-block">
              <p style="text-align: center; margin-top: 30px;"><i style="font-size: 50px; color: #2a3a4d;" class="fas fa-user-plus"></i></p>
              <p style="text-align: center; color: black; font-weight: bold">Hiring Practices</p>
              <p style="text-align: center; color: black;">Role evaluation, core requirements, job descriptions, talent acquisition</p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="card" style="background-color: #f1f1f1; border: none;">
            <div class="card-block">
              <p style="text-align: center; margin-top: 30px;"><i style="font-size: 50px; color: #2a3a4d;" class="far fa-eye"></i></p>
              <p style="text-align: center; color: black; font-weight: bold">Company Perception</p>
              <p style="text-align: center; color: black;">Public relations, internal perception, product review & perception, user experience</p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="card" style="background-color: #f1f1f1; border: none;">
            <div class="card-block">
              <p style="text-align: center; margin-top: 30px;"><i style="font-size: 50px; color: #2a3a4d;" class="fas fa-balance-scale-right"></i></p>
              <p style="text-align: center; color: black; font-weight: bold">Consumer Behavior</p>
              <p style="text-align: center; color: black;">Product market fit, consumer psychology, post-COVID changes, effective advertising</p>
            </div>
          </div>
        </div>
      </div>
      <hr style=" width: 50%; margin-left: 25%; background-color:#3b3b3b;">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3" id="skill_header">Professional Skills</div>
        <div class="col-3"></div>
      </div>
      <div class="row">
        <div class="col-3"></div>
		<div class="col-3" id="G_0"><div id="G_1">Google Workspace</div><div id="G_2">100%</div><div id="C_3">Google Workspace<span style="display:inline-block; width: 92%; color: white; text-align:right;">100%</span></div></div>
        <div class="col-3" id="SE_0"><div id="SE_1">SEO</div><div id="SE_2">100%</div><div id="SE_3">SEO<span style="display:inline-block; width: 92%; color: white; text-align:right;">100%</span></div></div>
      </div>
      <div class="row">
        <div class="col-3"></div>
		<div class="col-3" id="L_0"><div id="L_1">Leadership</div><div id="L_2">100%</div><div id="L_3">Leadership<span style="display:inline-block; width: 92%; color: white; text-align:right;">100%</span></div></div>
        <div class="col-3" id="O_0"><div id="O_1">Organizing</div><div id="O_2">100%</div><div id="O_3">Organizing<span style="display:inline-block; width: 92%; color: white; text-align:right;">100%</span></div></div>
      </div>
	  <div class="row">
        <div class="col-3"></div>
		<div class="col-3" id="C_0"><div id="C_1">Communication</div><div id="C_2">100%</div><div id="C_3">Communication<span style="display:inline-block; width: 92%; color: white; text-align:right;">100%</span></div></div>
        <div class="col-3" id="PS_0"><div id="PS_1">Problem Solving</div><div id="PS_2">100%</div><div id="PS_3">Problem Solving<span style="display:inline-block; width: 92%; color: white; text-align:right;">100%</span></div></div>
      </div>
	  <div class="row">
        <div class="col-3"></div>
        <div class="col-3" id="E_0"><div id="E_1">Excel</div><div id="E_2">100%</div><div id="E_3">Excel<span style="display:inline-block; width: 92%; color: white; text-align:right;">100%</span></div></div>
        <div class="col-3" id="SL_0"><div id="SL_1">Slack</div><div id="SL_2">100%</div><div id="SL_3">Slack<span style="display:inline-block; width: 92%; color: white; text-align:right;">100%</span></div></div>
      </div>
	  <div class="row">
        <div class="col-3"></div>
		<div class="col-3" id="D_0"><div id="D_1">Data Analysis</div><div id="D_2">90%</div><div id="D_3">Data Analysis</div></div>
        <div class="col-3" id="CN_0"><div id="CN_1">Consulting</div><div id="CN_2">90%</div><div id="CN_3">Consulting</div></div>
      </div>
	  <div class="row">
        <div class="col-3"></div>
	    <div class="col-3" id="B_0"><div id="B_1">Business Management</div><div id="B_2">80%</div><div id="B_3">Business Management</div></div>
        <div class="col-3" id="R_0"><div id="R_1">R Programing Language</div><div id="R_2">75%</div><div id="R_3">R Programing Language</div></div>
      </div>
	  <div class="row">
        <div class="col-3"></div>      
      	<div class="col-3" id="S_0"><div id="S_1">Spanish</div><div id="S_2">50%</div><div id="S_3">Spanish</div></div>
		<div class="col-3" id="P_0"><div id="P_1">Python</div><div id="P_2">40%</div><div id="P_3">Python</div></div>
	  </div>
    </div>
    <div id="Research" class="container-fluid"></div>
  </div>
  <div class="footer" style="padding-top: 10vh">
      <div class="footer-content-wrapper_top" style=" width: 100%; text-align: center;"><span class="text-footer" style="color: whitesmoke; font-size: 30px;">Follow me on</span></div>
      <ul class="contacts" style="width: 100%; text-align: center;">
        <li style="cursor:pointer;" id="linkedin-contact" data-url="https://www.linkedin.com/in/austin-attaway-438116190/"><i id="linkedin" class="fab fa-linkedin" style="font-size: 30px; padding-right: 2px;"></i></li>
        <li style="cursor:pointer;" id="facebook-contact" data-url="https://www.facebook.com/people/Austin-Attaway/100014549855657"><i id="facebook" class="fab fa-facebook-square" style="font-size: 30px; padding-right: 2px;"></i></li>
        <li style="cursor:pointer;" id="instagram-contact" data-url="https://www.instagram.com/austin_attaway/?hl=en"><i id="instagram" class="fab fa-instagram-square"style="font-size: 30px; padding-right: 2px;"></i></li>
        <li style="cursor:pointer;" id="twitter-contact" data-url="https://twitter.com/attawayaustin?lang=en"><i id="twitter" class="fab fa-twitter-square" style="font-size: 30px; padding-right: 2px;"></i></li>
      </ul>
    </br>
    <div class="footer-content-wrapper_bot" style=" width: 100%; text-align: center;"><button type="button" class="btn btn-dark btn-lg" style="font-size: 14px;">Freelance Design</button></div>
    </div>
  
</body>
<script>
  $(document).ready(function () {
    $(function(){
      $('#about_drop').hide();
      $('#cv_drop').hide();
      $('#blog_drop').hide();
      $('#diss_drop').hide();
      $('#contact_drop').hide();
    });
});
</script>
<script>
  $(document).ready(function () {
    $(function(){
        if ($(window).width() < 1000) {
          $('#drop_down').show();
          $('.box_nav').hide();
          $('#about').hide();
          $('#cv').hide();
          $('#blog').hide();
          $('#diss').hide();
          $('#contact').hide();
        }
        else {
          $('#drop_down').hide();
        }
    });
});
</script>
<script>
   $(window).resize(function() {
  if ($(window).width() < 1000) {
        $('#drop_down').show();
        $('.box_nav').hide();
        $('#about').hide();
        $('#cv').hide();
        $('#blog').hide();
        $('#diss').hide();
        $('#contact').hide();
  }
 else {
        $('#drop_down').hide();
        $('#about').show();
        $('.box_nav').show();
        $('#cv').show();
        $('#blog').show();
        $('#diss').show();
        $('#contact').show();
        if ($('#exp').hasClass("active")) {
            $('#exp').removeClass("active");
            $('.bar').animate({height:'100'});
            $('#about_drop').hide();
            $('#cv_drop').hide();
            $('#blog_drop').hide();
            $('#diss_drop').hide();
            $('#contact_drop').hide();
    }
 }
});
</script>
<script>  
  $(document).on('click', '#drop_down', function () {
    console.log("clicked nav drop down")
    if ($('#exp').hasClass("active")) {
      $('#exp').removeClass("active");
      $('.bar').animate({height:'100'});
      $('#about_drop').hide();
      $('#cv_drop').hide();
      $('#blog_drop').hide();
      $('#diss_drop').hide();
      $('#contact_drop').hide();
    }
    else {
      $('#exp').addClass("active");
      $('.bar').animate({height:'300'});
      $('#about_drop').show();
      $('#cv_drop').show();
      $('#blog_drop').show();
      $('#diss_drop').show();
      $('#contact_drop').show();
    }  
  }); 
</script>
<script>
  $(document).on('click', '.nav_profile', function (){
      console.log("clicked")
        $('html, body').animate({
            scrollTop: $('#profile').offset().top
        }, 300)
    })
</script>
<script>
  $(document).on('click', '.nav_experience', function (){
      console.log("clicked")
        $('html, body').animate({
            scrollTop: $('#Experience').offset().top
        }, 300)
    })
</script>
<script>
  $(document).on('click', '.nav_skills', function (){
      console.log("clicked")
        $('html, body').animate({
            scrollTop: $('#Skills').offset().top
        }, 300)
    })
</script>
<script>
  $(document).on('click', '.nav_Research', function (){
      console.log("clicked")
        $('html, body').animate({
            scrollTop: $('#Research').offset().top
        }, 300)
    })
</script>
<script> 
   $(document).on('click', '.arrow_wrapper', function (){
      console.log("clicked")
        $('html, body').animate({
            scrollTop: $('#profile').offset().top
        }, 500)
    })
</script>
<script> 
  $(document).on('click', '#linkedin-contact', function () {
    var url = $("#linkedin-contact").attr("data-url");
    var win = window.open(url, '_blank');
    if (win) {
        win.focus();
    } else {
        alert('Please allow popups for this website');
      }
    }); 
</script>
<script> 
  $(document).on('click', '#facebook-contact', function () {
    var url = $("#facebook-contact").attr("data-url");
    var win = window.open(url, '_blank');
    if (win) {
        win.focus();
    } else {
        alert('Please allow popups for this website');
      }
    }); 
</script>
<script> 
  $(document).on('click', '#instagram-contact', function () {
    var url = $("#instagram-contact").attr("data-url");
    var win = window.open(url, '_blank');
    if (win) {
        win.focus();
    } else {
        alert('Please allow popups for this website');
      }
    }); 
</script>
<script> 
  $(document).on('click', '#twitter-contact', function () {
    var url = $("#twitter-contact").attr("data-url");
    var win = window.open(url, '_blank');
    if (win) {
        win.focus();
    } else {
        alert('Please allow popups for this website');
      }
    }); 
</script>
<script>
  var sidebar = jQuery('.box_nav');
  var pwindow = jQuery(window);
  var inital_displace = parseInt(sidebar.css("margin-right"))

  var navbar_height = $('.bar').height();   
  var image_height = $('#cv_image').height();
  var profile_height = $('#profile').height();
  var exp_height = $('#Experience').height();
  var skills_height = $('#Skills').height();
  var research_height = $('#Research').height();
    
  var img_end = image_height + navbar_height;
  var profile_end = img_end + profile_height;
  var exp_end = profile_end + exp_height;
  var skills_end = exp_end + skills_height;
  var research_end = skills_end + research_height;

  pwindow.on('scroll resize', function() {
    var scroll = $(this).scrollTop();
    
    var offset_base = parseInt(sidebar.css("margin-top"))
    var offset_start_move = 100;
    var offset_end_move = 500;
    var sidebar_height = parseInt(sidebar.css("height"))
    var current_displace = parseInt(sidebar.css("margin-right"))


    nav_offset = 300;
    /*console.log("image_end: " + img_end);
    console.log("profile_end: " + profile_end);
    console.log('exp_end is: ' + exp_end);
    console.log('skills_end is: ' + skills_end);
    console.log('research_end is: ' + research_end);
    console.log('scroll is: ' + scroll);*/

    if(scroll >= offset_start_move && scroll < offset_end_move) {
      dist = scroll - offset_start_move;
      ratio = (dist)/sidebar_height;
      delta = (-inital_displace) * ratio;
      cur_dis = inital_displace + delta;
      sidebar.css("margin-right", cur_dis+"px");
    }
    
    if(scroll >= img_end){
      sidebar.css("position", "fixed");
      console.log("position: fixed");
    }
    else {
      sidebar.css("position", "static");
      console.log("position: static");
    }

    // user in profile
    if(scroll >= img_end - nav_offset && scroll < profile_end - nav_offset){
        //profile active
        $(".nav_profile").css("color", "white"); 
        $(".nav_experience").css("color", "#ffffff6b");
    }
    // user in exp
    else if(scroll >= profile_end - nav_offset && scroll < exp_end - nav_offset){
      //exp active
      $(".nav_profile").css("color", "#ffffff6b"); 
      $(".nav_experience").css("color", "white");
      $(".nav_skills").css("color", "#ffffff6b");
    }
    // user in skills
    else if(scroll >= exp_end - nav_offset && scroll < skills_end - nav_offset){
      //skills active
      $(".nav_experience").css("color", "#ffffff6b");
      $(".nav_skills").css("color", "white");
      $(".nav_Research").css("color", "#ffffff6b");
    }
    // user in research
    else if(scroll >= skills_end - nav_offset && scroll < research_end - nav_offset){
      //research active
      $(".nav_skills").css("color", "#ffffff6b");
      $(".nav_Research").css("color", "white");
    }
    else {
      $(".nav_profile").css("color", "#ffffff6b");
      $(".nav_experience").css("color", "#ffffff6b");
      $(".nav_skills").css("color", "#ffffff6b");
      $(".nav_Research").css("color", "#ffffff6b");
    }
    });


</script>
<script>
  $('#D_0').hover( function(){
   $('#D_3').animate({width:'90%'}, 200);
     console.log('is hovering D')
     },
   function(){
     $('#D_3').animate({width:'0%'}, 200);
   });
</script>
<script>
  $('#SE_0').hover( function(){
   $('#SE_3').animate({width:'100%'}, 200);
     console.log('is hovering SE')
     },
   function(){
     $('#SE_3').animate({width:'0%'}, 200);
   });
 </script>
<script>
   $('#R_0').hover( function(){
    $('#R_3').animate({width:'75%'}, 200);
      console.log('is hovering R')
      },
    function(){
      $('#R_3').animate({width:'0%'}, 200);
    });
</script>
<script>
  $('#S_0').hover( function(){
   $('#S_3').animate({width:'50%'}, 200);
     console.log('is hovering S')
     },
   function(){
     $('#S_3').animate({width:'0%'}, 200);
   });
</script>

<script>
  $('#B_0').hover( function(){
   $('#B_3').animate({width:'80%'}, 200);
     console.log('is hovering B')
     },
   function(){
     $('#B_3').animate({width:'0%'}, 200);
   });
</script>
<script>
  $('#L_0').hover( function(){
   $('#L_3').animate({width:'100%'}, 200);
     console.log('is hovering L')
     },
   function(){
     $('#L_3').animate({width:'0%'}, 200);
   });
 </script>
<script>
   $('#O_0').hover( function(){
    $('#O_3').animate({width:'100%'}, 200);
      console.log('is hovering O')
      },
    function(){
      $('#O_3').animate({width:'0%'}, 200);
    });
</script>
<script>
  $('#P_0').hover( function(){
   $('#P_3').animate({width:'40%'}, 200);
     console.log('is hovering P')
     },
   function(){
     $('#P_3').animate({width:'0%'}, 200);
   });
</script>

<script>
  $('#C_0').hover( function(){
   $('#C_3').animate({width:'100%'}, 200);
     console.log('is hovering C')
     },
   function(){
     $('#C_3').animate({width:'0%'}, 200);
   });
</script>
<script>
  $('#CN_0').hover( function(){
   $('#CN_3').animate({width:'90%'}, 200);
     console.log('is hovering CN')
     },
   function(){
     $('#Cn_3').animate({width:'0%'}, 200);
   });
 </script>
<script>
   $('#SL_0').hover( function(){
    $('#SL_3').animate({width:'100%'}, 200);
      console.log('is hovering SL)
      },
    function(){
      $('#SL_3').animate({width:'0%'}, 200);
    });
</script>
<script>
  $('#G_0').hover( function(){
   $('#G_3').animate({width:'100%'}, 200);
     console.log('is hovering G')
     },
   function(){
     $('#G_3').animate({width:'0%'}, 200);
   });
</script>

<script>
   $('#E_0').hover( function(){
    $('#E_3').animate({width:'100%'}, 200);
      console.log('is hovering E)
      },
    function(){
      $('#E_3').animate({width:'0%'}, 200);
    });
</script>
<script>
  $('#PS_0').hover( function(){
   $('#PS_3').animate({width:'100%'}, 200);
     console.log('is hovering G')
     },
   function(){
     $('#PS_3').animate({width:'0%'}, 200);
   });
</script>
</html>